h1 {
  font-weight: 700;
  color: white;
  margin-top: 8px;
}

h2 {
  position: relative;
  right: -557px;
  top: 40px;
  color: white;
  font-size: 30px;
  font-weight: 650;
}

h3 {
  display: inline;
  position: relative;
  top: -50px;
  color: white;
}
img {
  width: 80px;
}

ul {
  list-style-type: none;
}

span {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.weekly {
  position: relative;
  top: -355px;
  font-size: 30px;
  color: #fff;
  font-weight: 650;
}

.humidity-wind-rain {
  color: white;
  text-align: left;
  font-size: 20px;
  margin-left: 50px;
  line-height: 3em;
}

.current {
  background: rgba(228, 228, 235, 0.5);
  border: 1px solid #ffff;
  border-radius: 50%;
  position: relative;
  top: -280px;
  left: 500px;
  width: 210px;
  height: 210px;
}

.live-temp {
  text-align: center;
  color: white;
  font-weight: 650;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0;
}

.card-title {
  text-align: center;
  margin-bottom: 0;
}

.card {
  position: relative;
  top: -360px;
}

.card-body {
  padding-bottom: 0;
}
.low-high {
  text-align: center;
}

.form-control {
  width: 500px;
}

.fa-wind,
.fa-sun,
.fa-cloud,
.fa-cloud-sun-rain,
.fa-cloud-showers-heavy,
.fa-cloud-rain {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: navy;
  font-size: 50px;
}

.current p {
  font-size: 30px;
  margin: 0;
}

#current-button {
  display: inline;
  margin-left: 10px;
}

.degree-c {
  display: inline;
  margin-left: 120px;
}

.rise {
  position: relative;
  top: -100px;
  left: 315px;
  color: #fff;
  background: rgba(228, 228, 235, 0.5);
  border-radius: 5px;
  border: 1px solid #ffff;
  font-size: 20px;
  padding: 10px;
  width: max-content;
}

.set {
  position: relative;
  left: 725px;
  top: -153px;
  color: #fff;
  background: rgba(228, 228, 235, 0.5);
  border-radius: 5px;
  border: 1px solid #ffff;
  font-size: 20px;
  padding: 10px;
  width: max-content;
}

.container {
  border-radius: 8px;
  width: 915px;
  height: 765px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.github-link {
  position: relative;
  top: -2px;
  right: -420px;
  display: inline;
}

.weather-app {
  width: 890px;
  height: 800px;
}
small span {
  display: inline;
  position: relative;
  right: -420px;
}
span {
  display: inline;
}

p a {
  font-size: 20px;
}

.min-max {
  list-style: none;
  padding: 0;
}
.active {
  color: #fff;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

.units {
  font-size: large;
}

footer {
  font-size: 25px;
}
